@import url(https://fonts.googleapis.com/css2?family=Barlow&display=swap);

:root,
html,
body,
label,
button,
input,
textarea {
  --line-height: 1.5rem;
  --input-height: clamp(1.5rem, 2.5vh, 2rem);
  --tab-height: clamp(2.5rem, 5vh, 4rem);

  font-family: Barlow, sans-serif;
  font-size: clamp(14px, 2vmin, 18px);
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}
* {
  box-sizing: border-box;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

textarea,
input {
  width: 100%;
  height: var(--input-height);
  padding: calc((var(--input-height) - var(--line-height)) / 2) 0.25rem;

  font-family: monospace;
  font-size: 0.9rem;
  line-height: var(--line-height);
  white-space: normal;

  border: none;
  border-radius: 0.25rem;

  transition: height 0.2s;
}
textarea:hover,
textarea:focus {
  height: calc(var(--input-height) * 3);
  transition: height 0.2s 1s;
}
input[type="checkbox"] {
  width: var(--input-height);
  height: var(--input-height);
  border: none !important;
  border-radius: 0.25rem;
}

button {
  font-family: Barlow, sans-serif;
  line-height: var(--input-height);
  border: none;
  cursor: pointer;
  // background: transparent;background
  transition: color 0.3s;
  &:hover {
    color: #06f;
  }
}

.tab-bar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: var(--tab-height);
  overflow: hidden;

  flex: none;

  background: #fffc;
  backdrop-filter: blur(0.1em);
  border-bottom: 1px solid;

  button {
    cursor: pointer;

    display: relative;
    overflow: hidden;
    margin: 0 1rem 0 0;
    padding: 0 1rem;

    height: var(--tab-height);
    line-height: var(--tab-height);

    background: transparent;
    white-space: nowrap;
    word-break: keep-all;
    text-overflow: ellipsis;

    &::after {
      content: "";

      // position: absolute;position

      display: block;

      // left:0;left
      // right:0;right
      // bottom: 0;bottom
      width: 0;
      margin-left: 50%;
      margin-top: -0.2rem;
      height: 2em;

      background: #06f0;
      transition: all cubic-bezier(0.5, -1, 0.75, 1) 0.3s;
    }
    &.active {
      font-weight: 600;
      &::after {
        width: calc(100% + 1rem);
        margin-left: -0.5rem;
        background: #06f;
        transition: all cubic-bezier(0.2, 1, 0.8, 1.5) 0.3s;
      }
    }
  }
}
